@model SQMS.Web.Models.Nisaab
@{
    ViewBag.Title = "Details";
}
<h2>
    Nisaab Details</h2>

    <p></p>
<fieldset>
    <legend>Nisaab</legend>
    <div class="display-label">
        Nisaab Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NisaabName)
    </div>
    <div class="display-label">
        Pre-requisite Nisaab</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nissab1.NisaabName)
    </div>
    <div class="display-label">
        Pre-requisite No. Of Books</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumPrereqBooks)
    </div>
</fieldset>

<p> </p>
<fieldset>
    <legend>Books</legend>
    <p></p>
    <p>
        @Html.ActionLink("Add New Book", "CreateBook", new { id = Model.NisaabId })
    </p>
    <table border="1" width="100%">
        <col align="center" width="26%" />
        <col align="center" width="30%" />
        <col align="center" width="30%" />
        <col align="center" width="14%" />
        <tr>
            <th align="center">
                Book Title
            </th>
            <th align="center">
                Author
            </th>
            <th align="center">
                Compulsory
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(book => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(book => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(book => item.IsCompulsory)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditBook", new { id = item.BookId }) | @* @Html.ActionLink("Details", "Details", new { id = item.BookId }) |*@
                    @Html.ActionLink("Delete", "DeleteBook", new { id = item.BookId  })
                </td>
            </tr>
        }
    </table>
</fieldset>
<p></p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NisaabId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
