@model IEnumerable<SQMS.Web.Models.Nisaab>

@{
    ViewBag.Title = "Index";
}

<h2>Nisaab</h2>

<p></p>

<p>
    @Html.ActionLink("Add New Nisaab", "Create")
</p>
<table width = "100%">
<col align = "center" width = "26%" />
<col align = "center" width = "30%" />
<col align = "center" width = "30%" />
<col align = "center" width = "14%" />
    <tr>
        <th>
            Nisaab Name
        </th>
        <th>
            Pre-requisite Nisaab
        </th>
        <th>
            Pre-requisite No. Of Books
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NisaabName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nissab1.NisaabName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPrereqBooks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NisaabId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NisaabId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NisaabId })
        </td>
    </tr>
}

</table>
