@model SQMS.Web.Models.SabaqGroup
@{
    ViewBag.Title = "Details";
}
<h2>Group Details</h2>
<p></p>
<fieldset>
    <legend>Sabaq Group</legend>
    <div class="display-label">
        Group Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>
    <div class="display-label">
        Nisaab</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nisaab.NisaabName)
    </div>
    <div class="display-label">
        Moallim</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.DisplayName)
    </div>
    <div class="display-label">
        Mohallah</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region.RegionName)
    </div>
    <div class="display-label">
        Creation Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
    <div class="display-label">
        Week Days</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeekDays)
    </div>
    <div class="display-label">
        Start Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>
    <div class="display-label">
        Duration</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>
    <div class="display-label">
        Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SabaqStatus.SabaqStatusName)
    </div>
</fieldset>
<p>
</p>
<fieldset>
    <legend>Registered Members</legend>
    <p>
        @Html.ActionLink("Register Member", "Register", new { id = Model.SabaqGroupId })
    </p>
    <table border="1" width="100%">
        <col align="center" width="30%" />
        <col align="center" width="30%" />
        <col align="center" width="10%" />
        <col align="center" width="30%" />
        <tr>
            <th align="center">
                Ejamaat ID
            </th>
            <th align="center">
                Name
            </th>
            <th align="center">
                Status
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model.SabaqRegistrations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(book => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(book => item.User.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(book => item.SabaqStatus.SabaqStatusName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRegistration", new { id = item.SabaqRegId }) | 
                    @* @Html.ActionLink("Details", "Details", new { id = item.BookId }) |*@
                    @Html.ActionLink("Delete", "DeleteRegistration", new { id = item.SabaqRegId  })
                </td>
            </tr>
        }
    </table>
</fieldset>
<p>
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SabaqGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
