@model IEnumerable<SQMS.Web.Models.SabaqGroup>
@{
    ViewBag.Title = "Index";
}
<h2>Sabaq Group</h2>
<p></p>
<p>
    @Html.ActionLink("Create Sabaq Group", "Create")
</p>
<table width="100%">
    <col align="center" width="12%" />
    <col align="center" width="10%" />
    <col align="center" width="15%" />
    <col align="center" width="10%" />
    @*<col align = "center" width ="10%" />*@
    <col align="center" width="10%" />
    @*<col align = "center" width ="10%" />*@
    <col align="center" width="10%" />
    <col align="center" width="15%" />
    @*<col align="center" width="14%" />*@
    <tr>
        <th>
            Group Name
        </th>
        <th>
            Nisaab
        </th>
        <th>
            Moallim
        </th>
        <th>
            Mohallah
        </th>
        @*<th>
            Creation Date
        </th>
        <th>
            WeekDays
        </th>*@
        <th>
            Start Date
        </th>
        @*<th>
            Duration
        </th>*@
        <th>
            Status
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nisaab.NisaabName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        	</td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDays)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SabaqStatus.SabaqStatusName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SabaqGroupId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SabaqGroupId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SabaqGroupId })
            </td>
        </tr>
    }
</table>
