@model SQMS.Web.Models.SabaqRegistration

@{
    ViewBag.Title = "Create";
}

<h2>Sabaq Registration</h2>
<p></p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SabaqRegistration</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SabaqGroupId, "SabaqGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SabaqGroupId")
            @Html.ValidationMessageFor(model => model.SabaqGroupId)
        </div>

<<<<<<< HEAD:Code/SQMS.Web/Views/SabaqGroup/CreateSabaqRegistration.cshtml
        <div class="editor-label">
=======
       @* <div class="editor-label">
>>>>>>> User listbox (partially implemented):Code/SQMS.Web/Views/SabaqGroup/Register.cshtml
            @Html.LabelFor(model => model.MemberId, "Ejamaat ID")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MemberId")
            @Html.ValidationMessageFor(model => model.MemberId)
        </div>*@

        <div class="editor-label">
            Select
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.SelectedMembers, Model.AllMembers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SabaqStatusId, "Status")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SabaqStatusId")
            @Html.ValidationMessageFor(model => model.SabaqStatusId)
        </div>
        <p></p>
        <p>
<<<<<<< HEAD:Code/SQMS.Web/Views/SabaqGroup/CreateSabaqRegistration.cshtml
            <input type="submit" Name = "CreateSabaqRegistration" value="Register" />
=======
            <input type="submit" name="Register" value="Register" />
>>>>>>> User listbox (partially implemented):Code/SQMS.Web/Views/SabaqGroup/Register.cshtml
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
