@model SQMS.Web.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>
<p></p>
<fieldset>
    <legend>User</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">First Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">Last Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Date Of Birth</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">Address1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">Address2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">Phone1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone1)
    </div>

    <div class="display-label">Phone2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone2)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Mohallah</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region.RegionName)
    </div>

    <div class="display-label">Security Question</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecurityQuestion)
    </div>

    <div class="display-label">Security Answer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecurityAnswer)
    </div>

   @* <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>*@

   @* <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>*@
</fieldset>
<p></p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
