@model SQMS.Web.Models.SabaqRegistration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SabaqRegistration</legend>

    <div class="display-label">SabaqGroup</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SabaqGroup.GroupName)
    </div>

    <div class="display-label">MemberId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberId)
    </div>

    <div class="display-label">SabaqStatu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SabaqStatu.SabaqStatusName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SabaqRegId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
