@model SQMS.Web.Models.SabaqRegistration

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SabaqRegistration</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SabaqGroupId, "SabaqGroup")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SabaqGroupId")
            @Html.ValidationMessageFor(model => model.SabaqGroupId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberId, "Ejamaat ID")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MemberId")
            @Html.ValidationMessageFor(model => model.MemberId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SabaqStatusId, "Status")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SabaqStatusId")
            @Html.ValidationMessageFor(model => model.SabaqStatusId)
        </div>
        <p></p>
        <p>
            <input type="submit" Name = "CreateSabaqRegistration" value="Register" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
