@model SQMS.Web.Models.Region

@{
    ViewBag.Title = "Details";
}

<h2>Region Details</h2>

<p></p>
<fieldset>
    <legend>Region</legend>

    <div class="display-label">Region Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionType.RegionTypeName)
    </div>

    <div class="display-label">Region Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionName)
    </div>

    <div class="display-label">Parent Region</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region1.RegionName)
    </div>

   @* <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>*@
</fieldset>
<p></p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RegionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
