@model IEnumerable<SQMS.Web.Models.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Regions</h2>
<p></p>
<p>
    @Html.ActionLink("Add New Region", "Create")
</p>
<table width = "100%">
<col align = "center" width = "26%" />
<col align = "center" width = "30%" />
<col align = "center" width = "30%" />
<col align = "center" width = "14%" />
    <tr>
        <th>
            Region Type
        </th>
        <th>
            Region Name
        </th>
        <th>
            Parent Region
        </th>
        @*<th>
            Is Active
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegionType.RegionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region1.RegionName)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionId })
        </td>
    </tr>
}

</table>
